/* main_win */

.main-win {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-win>.title {
  z-index: 100;

  display: flex;
  align-items: center;
}

.main-win>.title>h1 {
  margin-left: 1em;

  flex-grow: 1;
}

.main-win>.title>button.github {
  font-size: inherit;
  border: none;
  border-radius: 100%;
  padding: 0;
  margin: 0.5em;

  background-color: #7e57c2;
  transition: background-color 0.1s;
}

.main-win>.title>button.github:hover {
  background-color: #4d2c91;
}

.main-win>.title>button.github:active {
  background-color: #b085f5;
}

.main-win>.content {
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .main-win>.title {
    width: 100%;
    box-shadow: 0px 1px 3px 4px #0003;

    justify-content: start;
  }

  .main-win>.title>h1 {
    margin-left: 1em;
  }

  .main-win>.title>button.github {
    width: 4em;
    height: 4em;
  }

  .main-win>.content {
    width: 100%;

    flex-grow: 1;
  }
}

@media only screen and (min-width: 768px) {
  .main-win>.title {
    font-size: 1.5em;
    text-align: center;
    width: 768px;
  }

  .main-win>.title>h1 {
    margin-left: 1.83333em;
  }

  .main-win>.title>button.github {
    width: 2.66667em;
    height: 2.66667em;
  }

  .main-win>.content {
    width: 768px;
    height: 768px;
    box-shadow: 0px 2px 4px 3px #0003;
  }
}

@media only screen and (min-width: 768px) and (max-height: 889px) {
  .main-win {
    height: unset;
  }
}

/* card */

.card-view {
  width: 100%;
  height: 100%;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  justify-content: safe center;
}

.card {
  font-size: 2em;
  margin: 1em;
  border-radius: 1em;
  box-shadow: 1px 2px 5px 3px #0004;

  display: flex;
  flex-direction: column;
  text-align: justify;
  transition: transform-origin 0s;
}

.card.enter {
  /* From animate.css */
  animation: rollIn .5s;
}

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.card.exit {
  /* From animate.css */
  animation: hinge 1s;
  transform-origin: top left;
}

@keyframes hinge {
  0% {
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.card .content {
  margin: 1em 1em 0 1em;
}

.card button {
  font-size: inherit;
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 100%;
  padding: 0;
  margin: 0;

  align-self: flex-end;
  background-color: #42a5f5;
  transition: background-color 0.1s;
}

.card button:hover {
  background-color: #0077c2;
}

.card button:active {
  background-color: #80d6ff;
}

/* list */

.list-view {
  margin-top: 0;
  padding: 0 0.4em;
}

.list-item {
  margin: 0.2em 0;
  border: 1px solid #aaa;
  border-radius: 0.2em;

  display: flex;
  align-items: center;
  background-color: #fafafa;
  transition: background-color 0.1s;
}

.list-item:hover {
  background-color: #c7c7c7;
}

.list-item:active {
  background-color: #ffffff;
}

.list-item::marker {
  content: none;
}

.list-item .content {
  padding: 0.5em;

  text-align: center;
  flex-grow: 1;
}

.list-item button.share {
  font-size: 0.8em;
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 100%;
  margin: 0;
  margin-right: 0.4em;
  padding: 0;

  flex-shrink: 0;
  background-color: #ffca28;
}

.list-item button.share:hover {
  background-color: #c79a00;
}

.list-item button.share:active {
  background-color: #fffd61;
}